// blog roll 
.blog-list-item.is-featured {
  background-color: #d6400033;
}
 
.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}

.blog-list-item .featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}
