@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.home-slides {
    overflow: hidden;

    .panel {
        height: 100vh;
        width: 100%;
        text-align: center;
        background-color: #222222;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

        @keyframes float {
            0% {
                transform: translatey(0px);
            }

            50% {
                transform: translatey(-20px);
            }

            100% {
                transform: translatey(0px);
            }
        }
        .scroll-bob {
            animation: float 4s ease-in-out infinite;
            color: white;
            display: block;
            width: 100px;
        }

    }

    .panel-2 {
        flex-direction: row;
        //margin-bottom: 600px;
        z-index: 2;
        .sidebar {
            width: 99px;
            height: 100%;
            background-color: $gabler-red;

            p.purpose {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                color: white;
                font-size: 3em;
                padding: 10%;
                margin-top: 20%;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .slideText {
                width: 50%;
                margin-left: 90px;
                margin-top: 60px;
                p {
                    font-size: 25px;
                    line-height: 3rem;
                    text-align: left;
                }
            }
            .scroll-bob {
                margin: 0 auto;
                margin-top: 450px;
            }
        }
        .animatedGeoShape {
            margin-top: 100px;
            position: absolute;
            z-index: 3;
            width: 2250px;
        }
    }

    .panel-3 {
        flex-direction: row;
        background-color: white;
        z-index: 4;
        .left {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            img.slide-bg {
                position: absolute;
                width: 85%;
                top: 0;
                left: 30px;
            }
            .slideText {
                padding: 30px;
                width: 739px;
                margin-top: 360px;
                z-index: 100;
                background-color: rgba(238, 68, 35, 0.5);
                p {
                    font-size: 25px;
                    line-height: 3rem;
                    text-align: left;
                    font-family: "Futura-Koyu", sans-serif;
                }
            }
            .scroll-bob {
                margin: 0 auto;
                margin-top: 450px;
            }
        }
        .sidebar {
            display: flex;
            align-items: flex-start;
            width: 105px;
            height: 100%;
            background-color: $sidebar-gray;
            z-index: 3;
            p.sidebar-hero {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                color: white;
                font-size: 3em;
                padding: 10%;
                margin-top: 20%;
                padding-left: 1%;
                padding-right: 20px;
                line-height: 0.9;
            }
            p.sidebar-desc {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                color: white;
                font-size: 1em;
                padding: 0;
                margin-top: 25%;
            }
        }
    }

    .panel-4 {
        flex-direction: row;
        background-color: $dark-bg;
        z-index: 5;
        .right {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .slideText {
                padding: 30px;
                width: 835px;
                margin-top: 50px;
                z-index: 100;
                p {
                    font-size: 25px;
                    line-height: 3rem;
                    text-align: left;
                }
            }
            .animatedGeoShape {
                //margin-top: 150px;
                position: absolute;
                z-index: 3;
            }
            .slideDescription {
                padding: 25px;
                margin-top: 75px;
                z-index: 100;
                p {
                    font-size: 22px;
                    line-height: 3rem;
                    text-align: center;
                }
            }
            .galleryContainer {
                /*background-color: blue;*/
                height: 100%;
                .slick-list img.gallery-img{
                  width: 100%;
                  height: 325px;
                  max-height: 325px;
                }
                .slick-arrow{
                  font-size: 0;
                  line-height: 0;
                  position: absolute;
                  top: 50%;
                  display: block;
                  width: 20px;
                  height: 20px;
                  padding: 0;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                  cursor: pointer;
                  color: transparent;
                  border: none;
                  outline: none;
                  background: transparent;
                }
                .slick-prev-arrow{
                  z-index: 99;
                  left:15px;
                }
                .slick-next-arrow{
                  z-index: 99;
                  right:85px;
                }
            }
            .scroll-bob {
                margin: 0 auto;
                margin-top: 450px;
            }
        }
        .sidebar {
            display: flex;
            align-items: flex-start;
            width: 105px;
            height: 100%;
            background-color: $aqua;
            z-index: 3;
            p.sidebar-hero {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                color: white;
                font-size: 3em;
                padding: 10%;
                margin-top: 20%;
                padding-left: 1%;
                padding-right: 20px;
                line-height: 0.9;
            }
            p.sidebar-desc {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                color: white;
                font-size: 1em;
                padding: 0;
                margin-top: 25%;
            }
        }
    }

    .panel-5 {
        flex-direction: row;
        background-color: $dark-bg;
        z-index: 5;
        .right {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .slideText {
                padding: 30px;
                width: 835px;
                margin-top: 50px;
                z-index: 100;
                p {
                    font-size: 25px;
                    line-height: 3rem;
                    text-align: left;
                }
            }
            .animatedGeoShape {
                margin-top: 150px;
                position: absolute;
                z-index: 3;
            }
            .slideDescription {
                padding: 25px;
                margin-top: 75px;
                z-index: 100;
                p {
                    font-size: 22px;
                    line-height: 3rem;
                    text-align: center;
                }
            }
            .galleryContainer {
                /*background-color: blue;*/
                height: 100%;
                .slick-list img.gallery-img{
                  width: 100%;
                  height: 325px;
                  max-height: 325px;
                }
                .slick-arrow{
                  font-size: 0;
                  line-height: 0;
                  position: absolute;
                  top: 50%;
                  display: block;
                  width: 20px;
                  height: 20px;
                  padding: 0;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                  cursor: pointer;
                  color: transparent;
                  border: none;
                  outline: none;
                  background: transparent;
                }
                .slick-prev-arrow{
                  z-index: 99;
                  left:15px;
                }
                .slick-next-arrow{
                  z-index: 99;
                  right:85px;
                }
            }
            .scroll-bob {
                margin: 0 auto;
                margin-top: 450px;
            }
        }
        .sidebar {
            display: flex;
            align-items: flex-start;
            width: 105px;
            height: 100%;
            background-color: $aqua;
            z-index: 3;
            p.sidebar-hero {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                color: white;
                font-size: 3em;
                padding: 10%;
                margin-top: 20%;
                padding-left: 1%;
                padding-right: 20px;
                line-height: 0.9;
            }
            p.sidebar-desc {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                color: white;
                font-size: 1em;
                padding: 0;
                margin-top: 25%;
            }
        }
    }
}
