.Banner-min{
    padding:9% 0;
    background-size: cover!important;
    /* background: url('../../img/about-banner.jpg') no-repeat center center; */
}
.Banner-min h1{
    font-size:140px;
    color:#fff;
    font-weight:600;
    line-height: 140px;
    margin-top: 140px;
}

.Banner-min h1 span{
    color:#ff5e4f;
    display: block;
}

.about-us{
    padding:70px 0;
    display:flex;
    align-items:center;
}

.about_text{
    padding-left:85px;
    width:50%;
    line-height:40px;
    box-sizing:border-box;
    float: left;
}
.about_text span {
    color:#ff5e4f;
}

.Our_purpose h2{
    color:#EE4423;
    font-size:50px;
    font-weight:400;
    font-family: 'Source Sans Pro', sans-serif !important;
    text-transform: uppercase;
    line-height: 60px;
    padding-bottom:10px;
    padding-top:30px;
}
.our-purpose{
    max-width:85%;
    padding-left:65px;
    box-sizing:border-box;
}
.our-purpose p{
    line-height:30px;
    padding-top:20px;
}
@media screen and (max-width: 768px) {
    .Banner-min h1{
        font-size:70px;
        line-height:70px;
        padding-left:0px;
    }
}