.all_news {
    padding: 60px 0;
}

.all_news h1 {
    font-size: 90px;
    font-weight: 100 !important;
    color: #E0E0E0;
    font-family: "Futura-Koyu", sans-serif !important;
    line-height: 90px;
}

.filter_div {
    padding-top: 30px;
}

.filter_div strong {
    font-size: 15px;
    color: #3C3C3B;
}

.filter_div ul {
    padding-top: 10px;
}

.filter_div li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    padding-left: 13px;
    padding-right: 13px;
    border-right: 1px solid #3C3C3B;
    line-height: 11px;
}

.filter_div li:last-child {
    border: 0px;
    padding-right: 0px;
}

.filter_div li:first-child {
    padding-left: 0px;
}

.filter_div li a {
    color: #3C3C3B;
}

.filter_div li.active-f a {
    color: #F15D4A;
}

.filter_div li.active-f {
    border-color: #F15D4A;
}

.news_feed {
    padding-top: 30px;
}

.news {
    padding-top: 20px;
    width: 80%;
    float: right;
}

.news strong {
    font-size: 19px;
    color: #3C3C3B;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.news h6 {
    font-size: 19px;
    color: #F15D4A;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.news p {
    font-size: 15px;
    color: #3C3C3B;
}

.instagram_feed {
    padding-top: 28px;
    width: 85%;
    float: right;
}

.filter_div .dropdown button{
    border:0px;
    box-shadow:none;
    background:transparent;
    font-size: 17px;
    color: #3C3C3B;
    font-family: 'Source Sans Pro', sans-serif !important;
    position: relative;
 
}

.filter_div .dropdown button:hover, .filter_div .dropdown button:focus, .filter_div .dropdown button:active{
    background:transparent;
    border:0px!important;;
    box-shadow:none;
    color: #3C3C3B;
}
.show > .btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus{
    background:transparent;
    border:0px!important;;
    box-shadow:none;
    color: #3C3C3B;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus{
    color:#F15D4A;
    
}
.dropdown-toggle::after{
    color:#F15D4A;
    position: absolute;
    top:23px;
}
.mobile-filter{
    display: none;
}
.filter_div .dropdown-menu {
    min-width:135px;
    padding:0px ;
    width:135px;
    text-align:right;
}
a.dropdown-item, button.dropdown-item{
    padding-right:.500rem;
}
.dropdown-item{
    padding:0.275rem .500rem;
}
@media screen and (max-width:768px){
    .all_news{
        padding-top:30px;
    }
    .news{
        margin:0px auto;
        float: none;
        width:93%;
        display: block;
    }
    .all_news h1{
        font-size: 50px;
        line-height:50px;
    }
    .filter_div{
        padding-left:0px;
        padding-right:0px;
        padding-top:10px;
    }
    .instagram_feed{
        width:100%;
    }
    .d-filter{
        display: none;
    }
    .mobile-filter{
        display: block;
    }
    .news_feed{
        padding-top:0px;
    }
}