
@font-face {
    font-family:"Gotham-Book";
    src:url("Gotham-Book.woff2") format("woff2"),url("Gotham-Book.woff") format("woff"),url("Gotham-Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        